 <%= call_hook :view_account_login_top %>
<h1 class="h1">Welcome <%= @user.firstname %>...</h1>
<h3 class="h3">Terms and Conditions</h3>
<style type="text/css">
<!--
#footer
{
    background: none repeat scroll 0 0 #FFFFFF;
    border-top: 1px solid #BBBBBB;
    clear: both;
    color: #AAAAAA;
    font-size: 12px;
    padding: 5px;
    position: relative;
    text-align: center;
    top: 81px;
}
.h1
{
left: -30px;
position: relative;
top: -48px;
}
.h3
{
left: 10px;
border-bottom: 0px ;
position: relative;
top: -5px;
}
.subhead1
{
        color: #000000;
        text-align: left;
        padding-left: 3px;
        font-size: 11.5pt;
        font-weight: bold;
        line-height: 16px;
        padding-top: 5px;
}
.bodytext
{
        color: #000000;
        text-align: justify;
        font-size: 9pt;
        font-weight: normal;
}
.text011
{
        color: #005c84;
        font-size: 14px;
        text-align: left;
}
.text01
{
        color: #666666;
        font-size: 14px;
        text-align: left;
}
#tb td,th {
         color: #423e34;
         font-family: "Trebuchet MS";
         font-size: 12px;
        }
#tb
{
    position: relative;
    right: 192px;
    width: 1000px;
    font-family: "Trebuchet MS";
    font-size: 12px;
    border: 1px solid #484848;
   overflow:scroll;
}
.acc
{

    left: -220px;
    position: relative;
    top: 13px;

}
.de
{
    left: -215px;
    position: relative;
    top: 14px;
}
#tb_div
{
   border: 1px solid #484848;
    height: 400px;
    overflow: scroll;
    position: relative;
    right: 159px;
}

-->
</style>
<%=call_hook :view_account_login_top %>
<%= form_for :my do |f| %>
<div id="tb_div">
<table id="tb1" >
<tr >
<td  class="bodytext" >This  is an agreement that constitutes the terms and conditions (&ldquo;we&rdquo;, &ldquo;our&rdquo;, &ldquo;us&rdquo;) by the member (&ldquo;you&rdquo;, &ldquo;your&rdquo; or &ldquo;User&rdquo;) "Write your company terms".</td>
</tr>
<tr>
<td>&nbsp;</td>
</tr>
<tr>
<td  class="text011"><span class="pageheader">1. ACCEPTANCE OF AGREEMENT</span></td>
</tr>
<tr>
<td height="10">&nbsp;</td>
</tr>
<tr>
<td  class="subhead1"><p>A.&nbsp;<u>Accepting this Agreement</u></p></td>
</tr>
<tr>
<td  class="bodytext">By  clicking &quot;Agree&quot; Write your company terms.</td>
</tr>
<tr>
<td>&nbsp;</td>
</tr>
<td  class="subhead1"><p>B.&nbsp;<u>Write your company terms</u></p></td>
<tr>
<td  class="bodytext">Write your company terms ;</td>
</tr>
<tr>
<td>&nbsp;</td>
</tr>
<tr>
<td  class="subhead1"><p>C.&nbsp;<u>Write your company terms</u></p></td>
</tr>
<tr >
<td  class="bodytext">Write your company terms.</td>
</tr>
<tr>
<td class="text01">&nbsp;</td>
</tr>
<tr>
<td class="text01">&nbsp;</td>
</tr>
<tr >
<td  class="bodytext">Write your company terms.</td>
</tr>
<tr>
<td class="text01">&nbsp;</td>
</tr>
<tr >
<td  class="text011"><span class="pageheader">2. Mobile Banking Software License</span></td>
</tr>
<tr >
<td  class="bodytext" height="10"><p>Write your company terms.</p></td>
</tr>
<tr>
<td class="text01">&nbsp;</td>
</tr>
<tr >
<td  class="text011"><span class="pageheader">3. Write your company terms</span></td>
</tr>
<tr >
<td  class="bodytext" height="10"><p>Write your company terms:</p></td>
</tr>
<tr>
<td height="10">&nbsp;</td>
</tr>
<tr >
<td  class="subhead1"><p>A.&nbsp;<u>Write your company terms </u></p></td>
</tr>
<tr >
<td  class="bodytext">Write your company terms.</td>
</tr>
<tr>
<td class="text01">&nbsp;</td>
</tr>
<tr >
<td  class="subhead1"><p>B.&nbsp;<u>Write your company terms</u></p></td>
</tr>
<tr >
<td  class="bodytext">Write your company terms</td>
</tr>
<tr>
<td class="text01">&nbsp;</td>
</tr>
<tr >
<td  class="subhead1"><p>C.&nbsp;<u>Write your company terms</u></p></td>
</tr>
<tr >
<td  class="bodytext">Write your company terms</td>
</tr>
<tr>
<td class="text01">&nbsp;</td>
</tr>
<tr >
<td  class="subhead1"><p>D.&nbsp;<u>Write your company terms</u></p></td>
</tr>
<tr >
<td  class="bodytext">Write your company terms.</td>
</tr>
<tr >
<td class="text01">&nbsp;</td>
</tr>
<tr >
<td  class="subhead1"><p>
E.&nbsp;
<u>Write your company terms</u></p></td>
</tr>
<tr >
<td  class="bodytext">Write your company terms;</td>
</tr>
<tr>
<td class="text01">&nbsp;</td>Write your company terms
</tr>
<tr >
<td  class="subhead1"><p>
F.&nbsp;
<u>Write your company terms</u></p></td>
</tr>
<tr >
<td  class="bodytext">Write your company terms.</td>
</tr>
<tr>
<td class="text01">&nbsp;</td>Write your company terms
</tr>
<tr >
<td  class="subhead1"><p>
G.&nbsp;
<u>User Security</u></p>Write your company terms</td>
</tr>
<tr >
<td  class="bodytext">Write your company terms</td>
</tr>
<tr>
<td class="text01">&nbsp;</td>
</tr>
<tr >
<tr >
<td  class="text011"><span class="pageheader">Write your company terms</span></td>
</tr>
<tr >
<td  class="bodytext"><p>Write your company terms.</p></td>
</tr>
<tr>
<td>&nbsp;</td>
</tr>
<tr >
<td  class="text011"><span class="pageheader">Write your company terms</span></td>
</tr>
<tr>
<td class="text01">&nbsp;</td>
</tr>
<tr >
<td  class="subhead1">A.&nbsp;<u>Write your company terms</u></td>
</tr>
<tr >
<td  class="bodytext"><p>.<br />
Write your company terms.</p></td>
</tr>
<tr >
<td  class="bodytext"><p>Write your company terms.</p></td>
</tr>
<tr>
<td class="text01">&nbsp;</td>
</tr>
<tr >
<td  class="subhead1"><p>B.&nbsp;<u>Write your company terms</u></p></td>
</tr>
<tr >
<td   class="bodytext">.</td>
</tr>
<tr>
<td class="text01">&nbsp;</td>
</tr>
<tr >
<td  class="subhead1"><p>C.&nbsp;<u>Write your company terms</u></p></td>
</tr>
<tr >
<td  class="bodytext">.</td>
</tr>
<tr>
<td class="text01">&nbsp;</td>
</tr>
<tr>
<td class="text01">&nbsp;</td>
</tr>
</table>
</div>
<table class="ts_btn" align="center" cellpadding="5" >
<tr >
<td class="accq">
      <%= f.submit "Accept",:class=>'acc' %>
</td>
<td class="deq"  >
     <%= f.submit "Decline",:class=>'de' %>
</td>
</tr>
</table>
<%end -%>
<%= call_hook :view_account_login_bottom %>


